@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

* {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0;
  outline: 0;
  background-color: transparent; }

body, #app, main, html {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }

.row {
  display: flex;
  align-items: center;
  width: 100%; }

.row_align-top {
  display: flex;
  align-items: top;
  width: 100%; }

.row_align-end {
  display: flex;
  width: 100%;
  align-items: flex-end; }

hr {
  display: none; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.header {
  background-color: #fff;
  min-height: 71px;
  box-shadow: 0 -1px 0 0 #e9ecef;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center; }

.header__logo {
  display: flex;
  margin-left: 24.6px;
  cursor: pointer; }

.header__button-container {
  margin-left: auto;
  margin-right: 36px; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.accept-button, .accept-button_disabled, .decline-button, .decline-button_disabled {
  font-family: "HelveticaNeueMedium", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.accept-button, .accept-button_disabled, .decline-button, .decline-button_disabled {
  border-radius: 4px;
  font-size: 13px;
  letter-spacing: 0;
  height: 36px;
  padding: 10px 16px;
  cursor: pointer; }

.accept-button {
  background-color: #007dff;
  color: white; }
  .accept-button:hover, .accept-button:focus {
    background-color: #0058ff; }
  .accept-button:active {
    background-color: #0011fe; }
  .accept-button_disabled {
    cursor: not-allowed;
    background-color: #e9ecef;
    color: #babcbf; }

.decline-button {
  background-color: #e9ecef;
  color: black; }
  .decline-button:hover, .decline-button:focus {
    background-color: #dde0e3; }
  .decline-button:active {
    background-color: #c7cdd3; }
  .decline-button_disabled {
    cursor: not-allowed;
    background-color: #e2e5e8;
    color: #b4b7b9; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.modal__text {
  font-family: "HelveticaNeue", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.modal__label {
  font-family: "HelveticaNeueBold", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.modal__mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 16, 33, 0.4);
  display: table;
  transition: opacity .3s ease; }

.modal__wrapper {
  display: table-cell;
  vertical-align: middle; }

.modal__container {
  width: 444px;
  margin: 0px auto;
  padding: 32px 0;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif; }

.modal__image_created {
  width: 40px;
  height: 40px; }

.modal__image-wrapper {
  width: 100%;
  margin-bottom: 16px; }

.modal__label {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 8.6px; }

.modal__text {
  font-size: 15px;
  margin-bottom: 6px;
  text-align: center; }

.modal__text-container {
  margin-bottom: 24px;
  width: 100%; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.summary-dialog__date, .summary-dialog__user-login, .summary-dialog__users-count {
  font-family: "HelveticaNeue", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.summary-dialog__title {
  font-family: "HelveticaNeueBold", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.summary-dialog {
  width: 338px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  position: absolute; }

.summary-dialog__span-container {
  display: flex;
  align-items: center;
  flex-direction: column; }

.summary-dialog__span {
  width: 14px;
  height: 30px;
  fill: white;
  max-height: 10px;
  position: relative;
  top: -10px; }

.summary-dialog__polygon {
  stroke: white;
  stroke-width: 1px;
  fill: white; }

.summary-dialog__user-avatar {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 8px; }

.summary-dialog__users {
  display: flex;
  flex-direction: row;
  align-items: center; }

.summary-dialog__container {
  display: flex;
  flex-direction: column;
  padding: 5px 0 16px 16px; }

.summary-dialog__title {
  line-height: 24px;
  font-size: 15px;
  color: black;
  margin-bottom: 2px; }

.summary-dialog__wrapper {
  display: flex; }

.summary-dialog__date {
  font-size: 13px;
  color: black;
  margin-bottom: 20px; }

.summary-dialog__user-login {
  font-size: 13px;
  color: black;
  margin-right: 4px; }

.summary-dialog__users-count {
  font-size: 13px;
  color: #858E98; }

.summary-dialog__icons-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px; }

.summary-dialog__close-icon-wrapper, .summary-dialog__edit-icon-wrapper {
  display: flex;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 100px;
  height: 24px;
  width: 24px;
  cursor: pointer; }

.summary-dialog__close-icon-wrapper {
  margin-bottom: 4px; }
  .summary-dialog__close-icon-wrapper:hover .summary-dialog__close-icon {
    opacity: 1; }

.summary-dialog__edit-icon-wrapper:hover .summary-dialog__edit-icon {
  opacity: 0.5; }

.summary-dialog__edit-icon {
  display: flex;
  margin: auto;
  opacity: 0.3; }

.summary-dialog__close-icon {
  opacity: 0.7;
  display: flex;
  margin: auto; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.floor__room-capacity, .floor__room-capacity_faded {
  font-family: "HelveticaNeue", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.floor__room-title, .floor__room-title_faded, .floor__room-title_hovered {
  font-family: "HelveticaNeueMedium", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.floor__number {
  font-family: "HelveticaNeueBold", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.rooms-list {
  padding: 16px 25px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  box-shadow: inset -1px 0 0 0 #e9ecef;
  align-items: left; }

.floor {
  padding-top: 20px; }

.floor__number {
  font-size: 11px;
  color: #858E98;
  margin-bottom: 8px; }

.floor__room-capacity {
  margin-bottom: 16px;
  font-size: 13px;
  color: black; }

.floor__room-capacity_faded {
  margin-bottom: 16px;
  font-size: 13px;
  color: #858E98; }

.floor__room-title {
  font-size: 15px;
  color: black;
  margin-bottom: 2px; }

.floor__room-title_faded {
  font-size: 15px;
  color: #858E98;
  margin-bottom: 2px; }

.floor__room-title_hovered {
  font-size: 15px;
  color: #007dff;
  margin-bottom: 2px; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.interactive-area {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  position: relative; }

.graph-container {
  display: flex;
  width: 1750px;
  position: absolute;
  height: 100%; }

.graph {
  width: 100%; }

.timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 46px;
  box-shadow: 0 1px 0 0 #e9ecef;
  user-select: none;
  position: relative;
  background-color: white; }

.timeline__hour-label, .timeline__hour-label_faded {
  min-width: 57.5px;
  text-align: center;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11px;
  color: black;
  font-weight: 500;
  cursor: default; }

.timeline__hour-label_faded {
  color: #858E98; }

.timeline__current-badge-container {
  position: absolute;
  height: 20px;
  width: 50px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  z-index: 2;
  background-color: #007dff; }

.timeline__current-badge-text {
  color: white;
  font-size: 11px;
  margin: 0 auto;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500; }

.timeline__current-line {
  pointer-events: none;
  stroke: #007dff;
  stroke-width: 1; }

.timeline__vertical-lines {
  pointer-events: none;
  stroke: rgba(19, 100, 205, 0.1);
  stroke-width: 1; }

.timeline__event-track {
  fill: #d5dfe9;
  cursor: pointer; }
  .timeline__event-track:hover {
    fill: #98a9b9; }
  .timeline__event-track:focus {
    fill: #98a9b9; }
  .timeline__event-track:active {
    fill: #8594a2; }

.timeline__empty-track {
  fill: white; }

.timeline__pointer {
  width: 57px;
  height: 28px;
  fill: #2B50FD;
  pointer-events: none; }

.timeline__pointer-icon {
  pointer-events: none; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.calendar__current-date-text {
  font-family: "HelveticaNeueBold", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.calendar {
  min-height: 46px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 0 #e9ecef; }

.calendar__icon-wrapper {
  display: flex;
  user-select: none;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 100px;
  height: 24px;
  width: 24px;
  cursor: pointer; }
  .calendar__icon-wrapper:hover .calendar__icon {
    opacity: 1; }

.calendar__icon {
  display: flex;
  margin: auto;
  opacity: 0.7; }

.calendar__content {
  display: flex;
  margin: auto;
  align-items: center; }

.calendar__current-date-text {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: auto;
  min-height: 35px; }

.calendar__hidden-instance {
  position: absolute;
  visibility: hidden;
  z-index: -1; }

.calendar__current-date-container {
  display: flex;
  min-width: 130px; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.workplace {
  display: flex;
  flex: 1 0 auto;
  box-shadow: 0 -1px 0 0 #e9ecef; }

.workplace__left-column {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 245px;
  max-width: 245px; }

.workplace__right-column {
  display: flex;
  flex: 1 0 auto;
  background-color: #f6f7f9; }
  .workplace__right-column::-webkit-scrollbar {
    height: 16px;
    padding: 0 5px; }
  .workplace__right-column::-webkit-scrollbar-track-piece {
    background-color: white; }
  .workplace__right-column::-webkit-scrollbar-thumb:horizontal {
    border: 4px solid #fff;
    background-color: #d5dfe9;
    border-radius: 100px; }
  .workplace__right-column::-webkit-scrollbar-thumb {
    background: #000; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.create-meeting__footer {
  display: flex;
  flex: 0 0 auto;
  height: 76px;
  box-shadow: 0 -1px 0 0 #e9ecef;
  align-items: center; }

.footer__buttons-container {
  display: flex;
  margin: auto; }

.footer__button_margin-right {
  margin-right: 16px; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.edit-meeting__footer {
  display: flex;
  flex: 0 0 auto;
  height: 76px;
  box-shadow: 0 -1px 0 0 #e9ecef;
  align-items: center; }

.footer__buttons-container {
  display: flex;
  margin: auto; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.input-field__control {
  font-family: "HelveticaNeue", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.input-field__label {
  font-family: "HelveticaNeueBold", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.input-field__control {
  padding-left: 11px;
  color: black;
  font-size: 13px;
  font-weight: 400;
  box-shadow: inset 0 0 0 2px #e9ecef;
  border-radius: 4px;
  width: 409px;
  height: 38px;
  margin-right: 32px; }
  .input-field__control:hover {
    box-shadow: inset 0 0 0 2px rgba(0, 125, 255, 0.25); }
  .input-field__control:focus {
    box-shadow: inset 0 0 0 2px #007dff; }

.input-field__label {
  font-weight: 600;
  font-size: 13px;
  padding-bottom: 5px; }

.input-field {
  display: inline-flex;
  flex-direction: column; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.calendar__separator {
  width: 14px;
  padding-top: 21px;
  display: inline-flex;
  border-bottom: 2px solid black;
  margin: auto; }

.calendar-input, .time-input {
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2px #e9ecef;
  border-radius: 4px;
  height: 38px; }

.calendar-input {
  width: 238px;
  margin-right: 16px; }
  .calendar-input:hover .calendar-input__icon {
    opacity: 1; }

.calendar-input__wrapper {
  position: relative;
  left: -56px;
  width: 13px;
  padding: 13px;
  margin-left: auto;
  z-index: -1; }

.calendar-input__icon {
  opacity: 0.5; }

.time-input {
  width: 72px; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.chosed-members {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 12px; }

.chosed-members__container {
  display: flex;
  align-items: center;
  height: 24px;
  background-color: #e9ecef;
  border-radius: 16px;
  margin-right: 8px;
  margin-bottom: 8px; }

.chosed-members__avatar {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 16px; }

.chosed-members__login {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  margin: 0 8px; }

.chosed-members__icon-wrapper {
  display: flex;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 100px;
  height: 24px;
  width: 28px;
  margin-left: auto;
  cursor: pointer; }
  .chosed-members__icon-wrapper:hover .meeting__clear-icon {
    opacity: 1; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.recommended-rooms__name-floor {
  font-family: "HelveticaNeue", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.recommended-rooms__label, .recommended-rooms__time {
  font-family: "HelveticaNeueBold", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.recommended-rooms {
  display: flex;
  flex-direction: column; }

.recommended-rooms__label {
  font-size: 13px;
  margin-bottom: 5px; }

.recommended-rooms__tile {
  display: flex;
  height: 37px;
  width: 420px;
  color: black;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  background-color: #e9ecef;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 300ms cubic-bezier(0.03, 0.63, 0.24, 1.01); }
  .recommended-rooms__tile:hover, .recommended-rooms__tile:focus {
    background-color: #98a9b9; }
  .recommended-rooms__tile:active {
    background-color: #8594a2; }

.recommended-rooms__time {
  display: flex;
  font-size: 13px;
  margin-left: 10px; }

.recommended-rooms__name-floor {
  display: flex;
  margin-left: 16px;
  font-size: 13px; }

.recommended-rooms__swap-icon {
  height: 24px;
  margin-left: auto;
  margin-right: 10px; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.selected-room__name-floor {
  font-family: "HelveticaNeue", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.selected-room__label, .selected-room__time {
  font-family: "HelveticaNeueBold", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.selected-room {
  display: flex;
  flex-direction: column; }

.selected-room__label {
  font-size: 13px;
  margin-bottom: 5px; }

.selected-room__tile {
  display: flex;
  height: 37px;
  width: 420px;
  color: white;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  background-color: #007dff;
  margin-bottom: 8px;
  cursor: default;
  transition: 300ms cubic-bezier(0.03, 0.63, 0.24, 1.01); }

.selected-room__time {
  display: flex;
  font-size: 13px;
  margin-left: 10px; }

.selected-room__name-floor {
  display: flex;
  margin-left: 16px;
  font-size: 13px; }

.selected-room__close-icon-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 37px;
  cursor: pointer; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.select-scroll__none, .select-scroll__login, .select-scroll__floor {
  font-family: "HelveticaNeue", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.select-scroll__member-container:hover .select-scroll__login, .select-scroll__member-container:hover .select-scroll__floor, .select-scroll__member-container:focus .select-scroll__login, .select-scroll__member-container:focus .select-scroll__floor {
  font-family: "HelveticaNeueMedium", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.select-scroll {
  max-height: 136px;
  width: 420px;
  box-shadow: 0 1px 10px 0 rgba(0, 44, 92, 0.28);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  cursor: default; }
  .select-scroll::-webkit-scrollbar {
    width: 16px;
    padding: 0 5px;
    margin-right: 5px; }
  .select-scroll::-webkit-scrollbar-track-piece {
    background-color: white; }
  .select-scroll::-webkit-scrollbar-thumb:vertical {
    height: 40px;
    border: 4px solid #fff;
    background-color: #d5dfe9;
    border-radius: 100px; }

.select-scroll__member-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 34px; }
  .select-scroll__member-container:hover {
    background-color: #f6f7f9; }
  .select-scroll__member-container:focus {
    background-color: #f6f7f9; }

.select-scroll__none {
  font-size: 13px;
  margin-right: 5px; }

.select-scroll__avatar {
  width: 24px;
  margin: 0 8px 0 16px;
  height: 24px;
  object-fit: cover;
  border-radius: 16px; }

.select-scroll__login {
  font-size: 13px;
  margin-right: 5px; }

.select-scroll__floor {
  font-size: 13px;
  color: #858e98; }
.modal__button-container {
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.modal__button-container_inner {
  margin: auto;
  display: flex; }

.modal__button_margin-right {
  margin-right: 16px; }
.modal__button-container_swap {
  display: flex;
  flex-direction: row;
  align-items: center; }

.modal__text_swap {
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  padding: 0 25px; }
@font-face {
  font-family: "HelveticaNeue";
  src: url(fonts/HelveticaNeueCyr-Roman.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Roman.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Roman.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(fonts/HelveticaNeueCyr-Bold.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Bold.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Bold.eot) format("eot"); }

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(fonts/HelveticaNeueCyr-Medium.woff) format("woff2"), url(fonts/HelveticaNeueCyr-Medium.ttf) format("ttf"), url(fonts/HelveticaNeueCyr-Medium.eot) format("eot"); }

.create-meeting__error {
  font-family: "HelveticaNeue", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.meeting__label {
  font-family: "HelveticaNeueBold", Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 17px; }

.create-meeting {
  box-shadow: 0 -1px 0 0 #e9ecef;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; }

.create-meeting__content-wrapper {
  flex: 1 0 auto; }

.create-meeting__content {
  padding: 32px 0;
  width: 880px;
  margin: auto; }

.create-meeting__error {
  margin-top: 20px;
  font-size: 14px; }

.meeting__label {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600; }

.meeting__clear-icon-wrapper {
  display: flex;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 100px;
  height: 24px;
  width: 24px;
  margin-left: auto;
  cursor: pointer; }
  .meeting__clear-icon-wrapper:hover .meeting__clear-icon {
    opacity: 1; }

.meeting__clear-icon {
  display: flex;
  margin: auto;
  opacity: 0.7; }

.column-container {
  display: flex;
  flex-direction: row; }

.column {
  width: 420px;
  margin-right: 36px;
  display: flex;
  flex-direction: column; }
